* {
		margin:0;
		border:0;
		padding:0;
	}

	body{
		background: #f0f0f0;
		font:14px/20px Arial, San-Serif;
		color: #555;
		margin:0;
		padding-left: 3%
	}

	header{
		background-color: #405580;
		width: 100%;
		height: 86px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		opacity: 0.90;
	}

	header h2{
		color: #FFF;
		text-align: center;
	}

	#pay h2{
		font-size: 30px;

	}

	h3{
		
		font-weight: bold;
	}

	#pay{
		padding-top: 10%;
	}

	form {
		font-size: 20px;

	}

	.mytext{
		width: 30%;
		height: 40px
		
	}

	.mytext1{
		height: 40px
	}

	.street{
		width: 40%;
		height: 35px
	}

	.state{
		width:25%;
		height:35px;
	}

	.pZip{
		height:35px;
	}

	.form-control{
		width:20%;
	}

	.radio-inline{

	}

	/*----------------MEDIA!!!--------------*/

	@media screen and (max-width: 320px){
		body{
			position:absolute;
		}
	}

	@media screen and (max-width: 740px){
		header{
			position: absolute;
		}

		form{
			float: left;
		}

		#pay{
			padding-top: 18%
		}

		.mytext{

			width: 98%;
			height: 40px
		}

	}	
































	