h2{
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
}

h4{
	text-align: center;
}

p{
	padding-left: 5px;
	font-family: cursive;
	font-size: 15px;
}

#first{
	padding-top: 10%;
}

header h2{
	color:#FFF;

}

#second{
	float: right;
	font-size: 30px;
	color:#405580;
	font-family: cursive;
	margin-right: 75px;
	margin-top: 100px;
}